!---- Background and Text Colors
xterm*background: black
xterm*foreground: white

!---- Scroll space
xterm*saveLines: 4096

!---- Fonts

! DejaVu Sans Mono
!xterm*faceName: DejaVu Sans Mono
!xterm*faceSize: 12

! DejaVu Sans Mono
!xterm*faceName: DejaVu Sans Mono:style=Book
!xterm*faceSize: 10.5

! Ohsnapu
!xterm*faceName: Ohsnapu:style=Bold
!xterm*faceSize: 14

! ProFont
!xterm*faceName: ProFont
!xterm*faceSize: 14

! White Rabbit
!xterm*faceName: White Rabbit
!xterm*faceSize: 12

! Iosevka
xterm*faceName: Iosevka Medium:style=Medium
xterm*faceSize: 10.5
xterm*borderWidth: 0

!---- Color Scheme
*background: #4d4e4f
*foreground: #ffffff
! black
*color0: #000000
! bright_black
!*color8: #3c3c3c
!*color8: #1d1d1d
*color8: #000000
! red
!*color1: #ff0a64
*color1: #ff0000
! bright_red
!*color9: #ff629b
*color9: #ff5555
! green
*color2: #64ff0a
! bright_green
*color10: #9bff62
! yellow
*color3: #ffa50a
! bright_yellow
*color11: #ffc562
! blue
!*color4: #0a64ff
!*color4: #3333ff
!*color4: #0041b3
!*color4: #004bcc
!*color4: #005eff
!*color4: #1a6eff
!*color4: #337eff
*color4: #629bff
! bright_blue
*color12: #629bff
! magenta
*color5: #a50aff
! bright_magenta
*color13: #c562ff
! cyan
*color6: #0affa5
! bright_cyan
*color14: #62ffc5
! white
*color7: #d8d8d8
! bright_white
*color15: #ffffff

